body {
  margin: 0;
  padding: 0;
}

#my-animation {
  width: 100%;
}

#my-animation .scene {
  height: 100vh;
  position: fixed;
  width: 100%;
  box-sizing: border-box;
}

#my-animation .scene:last-child {
  height: 200vh;
  padding-bottom: 100vh;
}

#my-animation #first-step {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #c8d4ff;
}

#my-animation #first-step h1 {
  font-size: 50px;
  color: black;
  margin: auto;
  position: absolute;
}
